body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    image border-radius: 20%;

}

header {
    background-color: #47d2eb;
    color: #1a1d16;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    text-transform: 0 0 0 0.1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 1.5em;
}

.portfolio-item {
    margin-bottom: 50px;
}

.portfolio-item img {
    max-width: 100%;
}
