*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: #861919;
    height: 80px;

    
}
.myntra_home {
    height:53px;
}
.logo_container{
    margin-left: 40%;

}